name: Angular GitHub CI
on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup Node.js 
        uses: actions/setup-node@v1
        with:
          node-version: 12
      
      - name: Install Dependencies
        run: 
          npm ci
          npm install -g @angular/cli

      - name: Setup Pages
        uses: actions/configure-pages@v2
        
      - name: Build
        run: 
          npm run build:ci


      - name: Test
        run: 
          npm run test 
      
      
      