<!-- <p>admin works!</p> -->
<section class="u-clearfix u-section-1" id="sec-7bea">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-text u-text-default u-text-1">Admin Controls</h1>
      <h2 class="u-text u-text-default u-text-2">Flagged Courses</h2>
      <div class="u-table u-table-responsive u-table-1">
        <table class="u-table-entity">
          <colgroup>
            <col width="8.8%">
            <col width="62.7%">
            <col width="28.5%">
          </colgroup>
          <thead class="u-black u-table-header u-table-header-1">
            <tr style="height: 60px;">
              <th class="u-border-1 u-border-black u-table-cell">Number</th>
              <th class="u-border-1 u-border-black u-table-cell">Name Of the Course</th>
              <th class="u-border-1 u-border-black u-table-cell">Modify Course</th>
            </tr>
          </thead>
          <tbody class="u-table-body">
            <tr style="height: 67px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell">1</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Name Of the Course</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">
                <a class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1" href="https://nicepage.com">Delete Course</a>
              </td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell">2</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell"> Name Of the Course</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">
                <a class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2" href="https://nicepage.com">Delete Course</a>
              </td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell">3</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell"> Name Of the Course</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">
                <a class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-3" href="https://nicepage.com">Delete Course</a>
              </td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell">4</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Name of the course</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">
                <a class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-4" href="https://nicepage.com">Delete Course</a>
              </td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-table-cell">5</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">Name of the Course</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">
                <a class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-5" href="https://nicepage.com">Delete Course</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>