<section class="u-clearfix u-section-1" id="sec-26f4">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <a routerLink="/add-additional-courses" data-page-id="10411040" class="u-btn u-button-style u-btn-1">Add Additional Content</a>
  </div>
</section>
<section class="u-align-center u-clearfix u-white u-section-2" id="sec-5871">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
      <div class="embed-responsive embed-responsive-1">
      <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item" src="https://www.youtube.com/embed/L-hm3S1aSnI?mute=0&amp;showinfo=0&amp;controls=0&amp;start=0" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
    <h2 class="u-text u-text-default u-text-1">Sample Headline</h2>
    <p class="u-text u-text-2">Description Of the Course - ### Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. ###</p>
  </div>
</section>